.container{
    width: 100%;
    height: auto;
    display: block;

}
.grid{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 50px;
}
.card{
    width: 100%;
    height: 50rem;
}
.imgCard{
    width: 100%;
    height: 30rem;
    overflow: hidden;
}
.imgCard img{
    width: 100%;
    object-fit:contain;
}
.imgText{
    width: 100%;
    height: 10rem;   
}